name: Build

on:
  pull_request:
    branches:
      - '**'

permissions: read-all

jobs:
  build:
    if: ${{ github.repository_owner == 'johnarban' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      
    
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      
      - name: Use Yarn 4
        run: |
          corepack enable
          yarn set version 4.5.3


      - name: Yarn install
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build
