name: Single Branch Build and Deploy

on:
  push:
    branches:
      - '**'
      - '!gh-pages'

permissions:
  contents: write
  
concurrency:
  group: build-and-deploy
  cancel-in-progress: true

jobs:
  build:
    if: ${{ github.repository_owner == 'johnarban' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'
      
      - name: Use Yarn 4
        run: |
          corepack enable
          yarn set version 4.5.3

      - name: Yarn install
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Check for draft flag
        uses: sergeysova/jq-action@v2
        id: draft
        with:
          cmd: cat package.json | jq -r '.draft // false'
          
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        if: ${{ steps.draft.outputs.value == 'false' }}
        with:
          branch: gh-pages-test
          folder: dist
          clean: true
          target-folder: ${{ github.head_ref || github.ref_name }}
